/* 
//Author//
=================================
Table of Contents
=================================
0) Common Css 
1) Preloader
2) Header
3) Banner
4) About
5)
6)
7)
8)
9)
10)
11)
12)
*/

/* Common Css Section Starts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a{
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.align_center {
    align-items: center;
}
body {
    font-family: 'Roboto Mono', monospace;
}
:root {
    --header_clr : #dddddd;
    --header_txt_clr:#05386B;
    --section_bgc: #ffffff;
    --Head_bgc:#379683;
    --hover_clr:#EDF5E1;
}

/* Common Css Section Ends */

/* Preloader Section Starts */
#preloader {
    background-color: #e5eff1;
    height: 100%;
    width: 100%;
    position:fixed;
    z-index: 9999999;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* Preloader Section Ends */

/* Header Section Starts*/
#nav {
    background-color: var(--Head_bgc);
}
#nav .logo{
    width: 20%;
}
#nav .logo img {
    height: 60px;
}
#nav .menu{
    text-align: right;
    width: 80%;
}
#nav .menu_animate{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    animation: smooth .5s;
}
@keyframes smooth {
    0%{
        top: -50px;
    }
    100%{
        top: 0;
    }
}
#nav .menu ul {
    text-align: right;
}
#nav .menu ul li {
    display: inline-block;
    padding:12px;
}
#nav .menu ul li:last-child {
    padding-right: 0;
}
#nav .menu ul li a {
    color:var(--header_txt_clr);
    font-size: 16px;
    transition: all linear 0.3s;
}
#nav .menu ul li:hover a {
    color: var(--hover_clr);
}
/* Header Section Ends*/